<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Statistics</title>
</head>
<body>
    <h1>Book Statistics</h1>
    <ul>
        <li>Total Number of Books: {{books.total_books}}</li>
        <li>Total Price of All Books: ${{books.total_price}}</li>
        <li>Average Price of Books: ${{books.average_price}}</li>
        <li>Maximum Price of a Book: ${{books.max_price }}</li>
        <li>Minimum Price of a Book: ${{books.min_price}}</li>
    </ul>
</body>
</html>