<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

 <title>My links page</title>
 <meta name="keywords" content="Books, recent, Learning, library">
 <meta name="description" content="Books website">
 <meta name="author" content="author name">
 <link rel="icon" href="{% static 'qu-icon.jpeg' %}">
 <link rel="stylesheet" href=" {%static 'main.css' %} ">
 <meta charset="UTF-8">
</head>
<body>
<div class="Container">
    <a href="https://www.qu.edu.qa" target="_blank" class="link-style" id="link1">Go to QU website (open a new tab)</a>
    <a href="https://www.qu.edu.qa" target="_self" class="link-style" id="link2">Go to QU website (open in the same page/tab)</a>
    <a href="https://www.qu.edu.qa" target="_self" class="link-style" id="link3">Go to QU website (open in the same page/tab)</a>
</div>
</body>
</html>